version: 2.1

executors:
  python-executor:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo

jobs:
  build:
    executor: python-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ~/.cache/pip
          key: v1-dependencies-{{ checksum "requirements.txt" }}

  test:
    executor: python-executor
    steps:
      - checkout
      - run:
          name: Run tests
          command: python manage.py test

  deploy:
    executor: python-executor
    steps:
      - checkout
      - run:
          name: Deploy to AKS
          command: |
            az aks get-credentials --resource-group my-resource-group --name my-aks-cluster
            kubectl apply -f k8s/deployment.yaml

workflows:
  version: 2
  deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test