# Ignore node_modules to avoid copying unnecessary files
node_modules

# Ignore local environment files
.env
.env.local
.env.test
.env.production

# Ignore Git repository files
.git
.gitignore

# Ignore logs
*.log

# Ignore IDE configurations
.vscode
.idea

# Ignore test files and documentation
tests/
docs/

# Ignore Docker-related files
Dockerfile
docker-compose.yml