trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  - group: My-Django-App-Secrets

stages:
  - stage: Build
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.9'
          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

  - stage: Test
    dependsOn: Build
    jobs:
      - job: Test
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: python manage.py test
            displayName: 'Run tests'

  - stage: Deploy
    dependsOn: Test
    jobs:
      - deployment: DeployToAKS
        environment: 'production'
        pool:
          vmImage: 'ubuntu-latest'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  inputs:
                    azureSubscription: 'MyAzureServiceConnection'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az aks get-credentials --resource-group my-resource-group --name my-aks-cluster
                      kubectl apply -f k8s/deployment.yaml