pipelines:
  default:
    - step:
        name: Build
        caches:
          - pip
        script:
          - python -m pip install --upgrade pip
          - pip install -r requirements.txt
    - step:
        name: Test
        script:
          - python manage.py test
    - step:
        name: Deploy
        deployment: production
        script:
          - az aks get-credentials --resource-group my-resource-group --name my-aks-cluster
          - kubectl apply -f k8s/deployment.yaml

definitions:
  caches:
    pip: ~/.cache/pip