apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: my-django-app-role
  namespace: my-django-app-namespace
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]